* {margin: 0;padding: 0;}
body {
    background: #868686;
}
.container{
    width: 1382px;
    height: inherit;
    margin: 0px auto;
    background: rgba(255, 255, 255, .5);
}
#wrap{
    width: 100%;
}

header{
    width: 100%;
    height: 90px;
    color: #856f56;
    background: #fde9d1;
}

.mainBanner{
    width: 100%;
    height: 770px;
    background: #ffbaba;
}
.mainBanner .mainBannerinner{
    width: 1920px;
    height: 770px;
    background: #000;
}